.nav {
  position: relative;
  margin: 20px 0;
  width: 200px;
}
.link {
  display: inline-flex;
  padding: 10px 20px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.activeLink {
  font-weight: 900;
  color: white;
  display: inline-flex;
  padding: 10px 20px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
}
